.main {
    border: 100px white;
}
.btn {

    padding: 30px;
    margin: 1px;
    /* border: 2px white solid; */
    font-weight: bold;
    font-size: large;
}

.equal {
    width: 154px
}

.testC {
    width: 220px
}
.one {
    padding: 29px
}

.result {
padding: 30px;
font-weight: 500;
font-size: x-large;
border: 0px solid;
border-radius: 10px;
background-color: #71adb5;
width: 295px;
margin-left: 550px
}

h2 {
    padding-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}